<!-- Bootstrap Css  -->
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
    crossorigin="anonymous"
/>

<!-- Boxicon Css  -->
<link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
/>

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

<!-- CSS  -->
<link rel="stylesheet" href="/CSS/home.css" />


<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
<!-- HERO -->
<div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">Unlock Your Potential</h1>
        <p class="text-white my-3">
            Find Internships and Entry-Level Jobs for College Students on Our
            Job Portal
        </p>
        <a href="#services" class="btn me-2 btn-primary">Get Started</a>
        </div>
    </div>
    </div>
</div>
<!-- //HERO -->

<!-- SERVICES -->
<section id="services">
    <div class="container">
    <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary">SERIVCES</h6>
        <h1>Our Services</h1>
        <p>
        </p>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
        <div class="service card-effect bounceInUp">
            <div class="iconbox">
            <i class="bx bxs-check-shield"></i>
            </div>
            <h5 class="mt-4 mb-2">Job-search services</h5>
            <p>
                We offer a range of services designed to make the job search process easier, more efficient, and more effective.
            </p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
            <div class="iconbox">
            <i class="bx bxs-cog"></i>
            </div>
            <h5 class="mt-4 mb-2">Job-search support</h5>
            <p>
                In addition to our job search capabilities, we offer a range of resources and tools designed to help job seekers succeed in their job search.
            </p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
            <div class="iconbox">
            <i class="bx bxs-heart"></i>
            </div>
            <h5 class="mt-4 mb-2">Job-posting solutions</h5>
            <p>
                We also offer targeted job posting options that help employers reach the right candidates quickly and efficiently.
            </p>
        </div>
        </div>
    </div>
    </div>
</section>
<!-- SERVICES -->

<!-- FEATURES -->
<section class="row w-100 py-0 bg-light" id="features">
    <div class="col-lg-6 col-img"></div>
    <div class="col-lg-6 py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-10 offset-md-1">
            <h6 class="text-primary">WHY TO CHOOSE US</h6>
            <h1>Provide numerous benefits</h1>
            <p>
            It allows job seekers to easily find relevant job opportunities,
            while also allowing employers to reach a wider audience and attract top talent.
            This can lead to a more efficient and effective job search process for both parties.
            </p>

            <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
                <i class='bx bx-up-arrow-alt' ></i>
            </div>
            <div>
                <h5>Daily Updates
                </h5>
                <p>
                    So easy to use, get your daily updates here.
                </p>
            </div>
            </div>
            <div class="feature d-flex">
            <div class="iconbox me-3">
                <i class='bx bx-scan'></i>
            </div>
            <div>
                <h5>Brief Scan
                </h5>
                <p>
                    Get additional information frequently.
                </p>
            </div>
            </div>
            <div class="feature d-flex">
            <div class="iconbox me-3">
                <i class='bx bx-rupee' ></i>
            </div>
            <div>
                <h5>No Fees
                </h5>
                <p>
                    It's free of cost, so no need to pay for anything.
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<!-- FEATURES -->

<!-- About Us -->
<section class="row w-100 py-0 bg-light" id="features">
    <div class="col-lg-6 py-5">
    <div class="container">
        <div class="row">
        <div class="col-md-10 offset-md-1">
            <h6 class="text-primary">About</h6>
            <h1>About Us</h1>
            <p>
                Welcome to our website! We are a job information platform dedicated to connecting job seekers with their dream jobs and helping employers find top talent. Our mission is to simplify the job search process and create a seamless experience for both job seekers and employers. 

We provide a range of services, including job postings, job search tools, and resources to support job seekers throughout the job search process. We also offer a powerful recruiting platform that allows employers to connect with top talent from around the world. 

Our team is dedicated to providing exceptional service and support to our users, and we are committed to constantly improving and evolving our platform to meet their needs. Thank you for choosing our website for your job search needs.
            </p>
        </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6 col-img-2"></div>
</section>
<!-- About Us -->

<!-- CONTACT -->
<section id="contact">
    <div class="container">
    <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary">CONTACT</h6>
        <h1>Get In Touch</h1>
        <p>
        </p>
        </div>
    </div>

    <form action="" class="row g-3 justify-content-center">
        <div class="col-md-5">
        <input type="text" class="form-control" placeholder="Full Name" />
        </div>
        <div class="col-md-5">
        <input
            type="text"
            class="form-control"
            placeholder="Enter E-mail"
        />
        </div>
        <div class="col-md-10">
        <input
            type="text"
            class="form-control"
            placeholder="Enter Subject"
        />
        </div>
        <div class="col-md-10">
        <textarea
            name=""
            id=""
            cols="30"
            rows="5"
            class="form-control"
            placeholder="Enter Message"
        ></textarea>
        </div>
        <div class="col-md-10 d-grid">
        <button class="btn btn-primary">Contact</button>
        </div>
    </form>
    </div>
</section>
<!-- CONTACT -->

<!-- Bootstrap JS  -->
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>
